<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="info.tAIR.tAIRApp"
      android:versionCode="3" android:versionName="2.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".tAIRTabWidget" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait">
           <intent-filter>
           		<action android:name="android.intent.action.MAIN" />
              	<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tAIRActivity">
             	<action android:name="android.intent.action.TAIR" />
              	<category android:name="android.intent.category.LAUNCHER" />
		</activity>
		<activity android:name="GroupActivity">
		       	<action android:name="android.intent.action.GROUP" />
              	<category android:name="android.intent.category.LAUNCHER" />
		</activity>
		<activity android:name="CodeActivity">
		        <action android:name="android.intent.action.CODE" />
              	<category android:name="android.intent.category.LAUNCHER" />
		</activity>
				<activity android:name="AIActivity">
		        <action android:name="android.intent.action.AIFORUM" />
              	<category android:name="android.intent.category.LAUNCHER" />
		</activity>
		<activity android:name="AndDevActivity">
		        <action android:name="android.intent.action.ANDDEV" />
              	<category android:name="android.intent.category.LAUNCHER" />
		</activity>
		<activity android:name="ContributorActivity">
		        <action android:name="android.intent.action.CONTRIBUTOR" />
              	<category android:name="android.intent.category.LAUNCHER" />
		</activity>
    </application>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-sdk
	android:minSdkVersion="6" 
    android:targetSdkVersion="8"
/>
</manifest> 